<!DOCTYPE html>
<html>
<head>
  <title>BurningAirlines</title>
   

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>


<iframe src="http://giphy.com/embed/QIrN5WRhpRpPW?html5=true" width="480" height="264" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>



</body>
</html>
