/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*body{
    background:#000;
}*/
#fire {
    text-align:center;
    font:900 120px/150px Arial;
    padding-top:150px;    
    color:#000;  
    white-space:nowrap;
    text-shadow:
        -2px -1px 2px purple,
        2px -2px 2px blue,
        2px -10px 20px white,
        0 -2px 6px red,
        2px -2px 10px white,     
        5px -10px 15px lightyellow,
        8px -20px 20px yellow,
        12px -30px 25px orange,
        5px -60px 40px orange,
        15px -34px 30px darkorange,
        0px -36px 35px red,
        40px -40px 50px red,
        -20px -60px 40px red,
        20px -80px 40px red,
        40px -80px 40px red,
        20px -120px 60px red,
        20px -150px 80px black,
        50px -160px 80px black,
        100px -200px 100px black,
        120px -150px 100px black,
        100px -100px 100px black,
        120px -220px 100px black,
        200px -300px 150px black
        ;   
    
}