<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Burning Airlines</title>
</head>
<body>

  <div class="container">
    <h1><a href="#">Burning Airlines</a></h1>
    <div id="main"></div>
  </div>


  <!-- Example for your handlebars
   <script type="template/html" id="flightViews">
    <h1>Recent Posts</h1>
    <ul id="posts"></ul>
   </script> -->

<!-- lawrence -->
  <script type="template/html" id="flightView">
    <h1>Single Flight View</h2>
    {{ flight }}
  </script>

  <script type="template/handlebars" id="flightListView">
  <h1>showing all flights </h1>
    <div id="flights">
      {{ flight }}
    </div>
  </script>
<!-- lawrence end -->

</body>
</html>

